Flujos Node-RED/Flujos - Chatbots.json
[
    {
        "id": "4ad4f9c4.495288",
        "type": "tab",
        "label": "Chatbots",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5a8edb49.605bc4",
        "type": "tjbot-converse",
        "z": "4ad4f9c4.495288",
        "botId": "374da715.aec408",
        "name": "",
        "x": 520,
        "y": 320,
        "wires": [
            [
                "b9aaac29.83d89",
                "bfc13ca8.82a48"
            ]
        ]
    },
    {
        "id": "42fbe49e.6294fc",
        "type": "inject",
        "z": "4ad4f9c4.495288",
        "name": "",
        "topic": "",
        "payload": "Tomame una foto",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 300,
        "wires": [
            [
                "d7bb8624.fde068"
            ]
        ]
    },
    {
        "id": "7d77c131.f8cf4",
        "type": "inject",
        "z": "4ad4f9c4.495288",
        "name": "",
        "topic": "",
        "payload": "Repite después de mi",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 380,
        "wires": [
            [
                "18491633.8cd2aa"
            ]
        ]
    },
    {
        "id": "ee17b089.6ee5c",
        "type": "inject",
        "z": "4ad4f9c4.495288",
        "name": "",
        "topic": "",
        "payload": "Cambia tu foco a rojo",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 420,
        "wires": [
            [
                "a76bcf90.57d9e"
            ]
        ]
    },
    {
        "id": "c4b829ce.baff48",
        "type": "inject",
        "z": "4ad4f9c4.495288",
        "name": "",
        "topic": "",
        "payload": "Traduce a inglés",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 500,
        "wires": [
            [
                "ddac223a.811f"
            ]
        ]
    },
    {
        "id": "ac289fb6.9e22f",
        "type": "inject",
        "z": "4ad4f9c4.495288",
        "name": "",
        "topic": "",
        "payload": "Reiniciate",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 540,
        "wires": [
            [
                "8b115c12.4531c"
            ]
        ]
    },
    {
        "id": "d642a3d9.36656",
        "type": "inject",
        "z": "4ad4f9c4.495288",
        "name": "",
        "topic": "",
        "payload": "Mueve tu brazo arriba",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 460,
        "wires": [
            [
                "63e34ea6.2f052"
            ]
        ]
    },
    {
        "id": "439805b0.48863c",
        "type": "inject",
        "z": "4ad4f9c4.495288",
        "name": "",
        "topic": "",
        "payload": "Describe tu alrededor",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 160,
        "y": 340,
        "wires": [
            [
                "d679a485.3722b8"
            ]
        ]
    },
    {
        "id": "d7bb8624.fde068",
        "type": "link out",
        "z": "4ad4f9c4.495288",
        "name": "Input",
        "links": [
            "b014fdfc.cbd76"
        ],
        "x": 315,
        "y": 300,
        "wires": []
    },
    {
        "id": "d679a485.3722b8",
        "type": "link out",
        "z": "4ad4f9c4.495288",
        "name": "Input",
        "links": [
            "b014fdfc.cbd76"
        ],
        "x": 315,
        "y": 340,
        "wires": []
    },
    {
        "id": "18491633.8cd2aa",
        "type": "link out",
        "z": "4ad4f9c4.495288",
        "name": "Input",
        "links": [
            "b014fdfc.cbd76"
        ],
        "x": 315,
        "y": 380,
        "wires": []
    },
    {
        "id": "a76bcf90.57d9e",
        "type": "link out",
        "z": "4ad4f9c4.495288",
        "name": "Input",
        "links": [
            "b014fdfc.cbd76"
        ],
        "x": 315,
        "y": 420,
        "wires": []
    },
    {
        "id": "63e34ea6.2f052",
        "type": "link out",
        "z": "4ad4f9c4.495288",
        "name": "Input",
        "links": [
            "b014fdfc.cbd76"
        ],
        "x": 315,
        "y": 460,
        "wires": []
    },
    {
        "id": "ddac223a.811f",
        "type": "link out",
        "z": "4ad4f9c4.495288",
        "name": "Input",
        "links": [
            "b014fdfc.cbd76"
        ],
        "x": 315,
        "y": 500,
        "wires": []
    },
    {
        "id": "8b115c12.4531c",
        "type": "link out",
        "z": "4ad4f9c4.495288",
        "name": "Input",
        "links": [
            "b014fdfc.cbd76"
        ],
        "x": 315,
        "y": 540,
        "wires": []
    },
    {
        "id": "b014fdfc.cbd76",
        "type": "link in",
        "z": "4ad4f9c4.495288",
        "name": "Conversation",
        "links": [
            "8b115c12.4531c",
            "63e34ea6.2f052",
            "ddac223a.811f",
            "d679a485.3722b8",
            "18491633.8cd2aa",
            "a76bcf90.57d9e",
            "d7bb8624.fde068",
            "38465a6e.ebe116",
            "cce485c5.cde3f8"
        ],
        "x": 395,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "9cc086cc.579b58",
        "type": "inject",
        "z": "4ad4f9c4.495288",
        "name": "Conctactando a Chatbot",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "38465a6e.ebe116"
            ]
        ]
    },
    {
        "id": "38465a6e.ebe116",
        "type": "link out",
        "z": "4ad4f9c4.495288",
        "name": "",
        "links": [
            "b014fdfc.cbd76"
        ],
        "x": 315,
        "y": 260,
        "wires": []
    },
    {
        "id": "b6b8c241.530e5",
        "type": "tjbot-speak",
        "z": "4ad4f9c4.495288",
        "botId": "374da715.aec408",
        "mode": "speak",
        "payload": "",
        "name": "",
        "x": 1650,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "faf1e50e.ac8c58",
        "type": "change",
        "z": "4ad4f9c4.495288",
        "name": "Respuesta",
        "rules": [
            {
                "t": "move",
                "p": "response.description",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1490,
        "y": 340,
        "wires": [
            [
                "b6b8c241.530e5"
            ]
        ]
    },
    {
        "id": "3c5939e8.5cb5e6",
        "type": "tjbot-see",
        "z": "4ad4f9c4.495288",
        "botId": "374da715.aec408",
        "mode": "see",
        "verticalFlip": false,
        "horizontalFlip": false,
        "width": 960,
        "height": 720,
        "name": "Identificar objetos",
        "x": 190,
        "y": 1020,
        "wires": [
            [
                "ba56d0e9.ffbfd"
            ]
        ]
    },
    {
        "id": "ba56d0e9.ffbfd",
        "type": "function",
        "z": "4ad4f9c4.495288",
        "name": "Filtro",
        "func": "var elementos = \"\";\n\nfor(var elemento in msg.payload){\n    elementos += msg.payload[elemento].class + \", \";\n}\nmsg.payload = elementos;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 1020,
        "wires": [
            [
                "2c6ed967.d4fb66"
            ]
        ]
    },
    {
        "id": "6de5b828.cdac08",
        "type": "tjbot-speak",
        "z": "4ad4f9c4.495288",
        "botId": "374da715.aec408",
        "mode": "speak",
        "payload": "",
        "name": "",
        "x": 890,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "3ad2e2bc.9173fe",
        "type": "switch",
        "z": "4ad4f9c4.495288",
        "name": "Intención",
        "property": "response.object.intents[0].intent",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "CambiaLuz",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "MoverBrazo",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "QueVes",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "TomaFoto",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 1480,
        "y": 440,
        "wires": [
            [
                "eccbd9dd.14b9c8"
            ],
            [
                "ed30915a.f1793"
            ],
            [
                "693cdd0a.e340c4"
            ],
            [
                "21c4cf50.59e7e"
            ],
            [
                "d0cc6968.be0f38"
            ]
        ]
    },
    {
        "id": "28a3191.d7424e6",
        "type": "switch",
        "z": "4ad4f9c4.495288",
        "name": "Color",
        "property": "response.object.entities[0].value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Rojo",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Verde",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Amarillo",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Azul",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Aleatorio",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 190,
        "y": 760,
        "wires": [
            [
                "907a1472.947938"
            ],
            [
                "a259e5a0.43b8b8"
            ],
            [
                "fc798da8.486a3"
            ],
            [
                "48cfb459.231dfc"
            ],
            [
                "ad6c3b0.3d676c8"
            ]
        ]
    },
    {
        "id": "907a1472.947938",
        "type": "tjbot-shine",
        "z": "4ad4f9c4.495288",
        "botId": "374da715.aec408",
        "mode": "shine",
        "color": "red",
        "duration": "",
        "name": "Rojo",
        "x": 340,
        "y": 680,
        "wires": []
    },
    {
        "id": "a259e5a0.43b8b8",
        "type": "tjbot-shine",
        "z": "4ad4f9c4.495288",
        "botId": "374da715.aec408",
        "mode": "shine",
        "color": "green",
        "duration": "",
        "name": "Verde",
        "x": 340,
        "y": 720,
        "wires": []
    },
    {
        "id": "fc798da8.486a3",
        "type": "tjbot-shine",
        "z": "4ad4f9c4.495288",
        "botId": "374da715.aec408",
        "mode": "shine",
        "color": "yellow",
        "duration": "",
        "name": "Amarillo",
        "x": 350,
        "y": 760,
        "wires": []
    },
    {
        "id": "48cfb459.231dfc",
        "type": "tjbot-shine",
        "z": "4ad4f9c4.495288",
        "botId": "374da715.aec408",
        "mode": "shine",
        "color": "blue",
        "duration": "",
        "name": "Azul",
        "x": 340,
        "y": 800,
        "wires": []
    },
    {
        "id": "ad6c3b0.3d676c8",
        "type": "tjbot-shine",
        "z": "4ad4f9c4.495288",
        "botId": "374da715.aec408",
        "mode": "shine",
        "color": "random",
        "duration": "",
        "name": "Aleatorio",
        "x": 350,
        "y": 840,
        "wires": []
    },
    {
        "id": "eccbd9dd.14b9c8",
        "type": "link out",
        "z": "4ad4f9c4.495288",
        "name": "Cambiar luz",
        "links": [
            "8a39e355.b4a2a"
        ],
        "x": 1595,
        "y": 380,
        "wires": []
    },
    {
        "id": "8a39e355.b4a2a",
        "type": "link in",
        "z": "4ad4f9c4.495288",
        "name": "Cambiar luz",
        "links": [
            "eccbd9dd.14b9c8"
        ],
        "x": 60,
        "y": 760,
        "wires": [
            [
                "28a3191.d7424e6"
            ]
        ]
    },
    {
        "id": "ed30915a.f1793",
        "type": "link out",
        "z": "4ad4f9c4.495288",
        "name": "Mover brazo",
        "links": [
            "3b96fd71.6788a2"
        ],
        "x": 1595,
        "y": 400,
        "wires": []
    },
    {
        "id": "393dee9a.bcc932",
        "type": "switch",
        "z": "4ad4f9c4.495288",
        "name": "Movimiento",
        "property": "response.object.entities[0].value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Arriba",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Abajo",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 910,
        "y": 800,
        "wires": [
            [
                "3ef5540c.bd80bc"
            ],
            [
                "e967b8bf.a628c8"
            ]
        ]
    },
    {
        "id": "e967b8bf.a628c8",
        "type": "tjbot-wave",
        "z": "4ad4f9c4.495288",
        "botId": "374da715.aec408",
        "motion": "lowerarm",
        "name": "Abajo",
        "x": 1080,
        "y": 800,
        "wires": []
    },
    {
        "id": "b918f00d.9c4fe",
        "type": "tjbot-wave",
        "z": "4ad4f9c4.495288",
        "botId": "374da715.aec408",
        "motion": "wave",
        "name": "Agitar",
        "x": 890,
        "y": 720,
        "wires": []
    },
    {
        "id": "3ef5540c.bd80bc",
        "type": "tjbot-wave",
        "z": "4ad4f9c4.495288",
        "botId": "374da715.aec408",
        "motion": "raisearm",
        "name": "Arriba",
        "x": 1090,
        "y": 740,
        "wires": []
    },
    {
        "id": "3b96fd71.6788a2",
        "type": "link in",
        "z": "4ad4f9c4.495288",
        "name": "Mover brazo",
        "links": [
            "ed30915a.f1793"
        ],
        "x": 605,
        "y": 760,
        "wires": [
            [
                "8f1536a0.efb248"
            ]
        ]
    },
    {
        "id": "693cdd0a.e340c4",
        "type": "link out",
        "z": "4ad4f9c4.495288",
        "name": "QueVes",
        "links": [
            "f3417681.899e08"
        ],
        "x": 1595,
        "y": 420,
        "wires": []
    },
    {
        "id": "f3417681.899e08",
        "type": "link in",
        "z": "4ad4f9c4.495288",
        "name": "QueVes",
        "links": [
            "693cdd0a.e340c4"
        ],
        "x": 65,
        "y": 1020,
        "wires": [
            [
                "3c5939e8.5cb5e6"
            ]
        ]
    },
    {
        "id": "7e299fea.0fdb6",
        "type": "tjbot-see",
        "z": "4ad4f9c4.495288",
        "botId": "374da715.aec408",
        "mode": "takephoto",
        "verticalFlip": true,
        "horizontalFlip": false,
        "width": 960,
        "height": 720,
        "name": "Selfie!",
        "x": 170,
        "y": 1160,
        "wires": [
            [
                "4dfb7889.4e9758"
            ]
        ]
    },
    {
        "id": "4dfb7889.4e9758",
        "type": "file in",
        "z": "4ad4f9c4.495288",
        "name": "",
        "filename": "",
        "format": "",
        "chunk": false,
        "sendError": false,
        "x": 310,
        "y": 1160,
        "wires": [
            [
                "a204266e.677858"
            ]
        ]
    },
    {
        "id": "a204266e.677858",
        "type": "change",
        "z": "4ad4f9c4.495288",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "media",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Hello from #TJBot",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1160,
        "wires": [
            [
                "be5819d.009a2e8"
            ]
        ]
    },
    {
        "id": "be5819d.009a2e8",
        "type": "twitter out",
        "z": "4ad4f9c4.495288",
        "twitter": "",
        "name": "Tweet",
        "x": 670,
        "y": 1160,
        "wires": []
    },
    {
        "id": "21c4cf50.59e7e",
        "type": "link out",
        "z": "4ad4f9c4.495288",
        "name": "TomarFoto",
        "links": [
            "cd79a171.cf524"
        ],
        "x": 1595,
        "y": 440,
        "wires": []
    },
    {
        "id": "cd79a171.cf524",
        "type": "link in",
        "z": "4ad4f9c4.495288",
        "name": "TomarFoto",
        "links": [
            "21c4cf50.59e7e"
        ],
        "x": 75,
        "y": 1160,
        "wires": [
            [
                "7e299fea.0fdb6"
            ]
        ]
    },
    {
        "id": "3aba6ba4.3a86a4",
        "type": "inject",
        "z": "4ad4f9c4.495288",
        "name": "Iniciar escucha",
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 80,
        "wires": [
            [
                "dda17dc4.fc98c"
            ]
        ]
    },
    {
        "id": "ee6d40f6.c21e",
        "type": "inject",
        "z": "4ad4f9c4.495288",
        "name": "Detener escucha",
        "topic": "",
        "payload": "stop",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 140,
        "wires": [
            [
                "dda17dc4.fc98c"
            ]
        ]
    },
    {
        "id": "dda17dc4.fc98c",
        "type": "change",
        "z": "4ad4f9c4.495288",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "mode",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 100,
        "wires": [
            [
                "930e2f33.53071"
            ]
        ]
    },
    {
        "id": "930e2f33.53071",
        "type": "tjbot-listen",
        "z": "4ad4f9c4.495288",
        "botId": "374da715.aec408",
        "name": "",
        "x": 510,
        "y": 100,
        "wires": [
            [
                "cce485c5.cde3f8",
                "b391e50e.09ec48"
            ]
        ]
    },
    {
        "id": "cce485c5.cde3f8",
        "type": "link out",
        "z": "4ad4f9c4.495288",
        "name": "Lo escuchado",
        "links": [
            "b014fdfc.cbd76"
        ],
        "x": 615,
        "y": 120,
        "wires": []
    },
    {
        "id": "b391e50e.09ec48",
        "type": "debug",
        "z": "4ad4f9c4.495288",
        "name": "Lo que escuché",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 680,
        "y": 40,
        "wires": []
    },
    {
        "id": "8a7929c2.e8bfc8",
        "type": "switch",
        "z": "4ad4f9c4.495288",
        "name": "Contexto de idioma",
        "property": "response.object.context.idioma",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Inglés",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 970,
        "y": 320,
        "wires": [
            [
                "2b43d81a.3cf098"
            ],
            [
                "af5a7a46.ec2de8"
            ]
        ]
    },
    {
        "id": "84110f5f.76746",
        "type": "tjbot-speak",
        "z": "4ad4f9c4.495288",
        "botId": "374da715.aec408",
        "mode": "speak",
        "payload": "",
        "name": "",
        "x": 1490,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "b9aaac29.83d89",
        "type": "switch",
        "z": "4ad4f9c4.495288",
        "name": "Contexto de imitación",
        "property": "response.object.context.imitacion",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 720,
        "y": 320,
        "wires": [
            [
                "c7923cb2.1d3a5"
            ],
            [
                "8a7929c2.e8bfc8"
            ]
        ]
    },
    {
        "id": "c7923cb2.1d3a5",
        "type": "tjbot-speak",
        "z": "4ad4f9c4.495288",
        "botId": "374da715.aec408",
        "mode": "speak",
        "payload": "",
        "name": "",
        "x": 950,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "863ac52a.27e258",
        "type": "switch",
        "z": "4ad4f9c4.495288",
        "name": "Confianza mayor a 0.8",
        "property": "response.object.intents[0].confidence",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "0.8",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1280,
        "y": 460,
        "wires": [
            [
                "3ad2e2bc.9173fe",
                "faf1e50e.ac8c58"
            ],
            [
                "18d2f96a.6a7237"
            ]
        ]
    },
    {
        "id": "18d2f96a.6a7237",
        "type": "change",
        "z": "4ad4f9c4.495288",
        "name": "Me parece que no es claro lo que debo hacer",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Me parece que no es claro lo que debo hacer",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 540,
        "wires": [
            [
                "5f9b5c9a.e8c3c4"
            ]
        ]
    },
    {
        "id": "5f9b5c9a.e8c3c4",
        "type": "tjbot-speak",
        "z": "4ad4f9c4.495288",
        "botId": "374da715.aec408",
        "mode": "speak",
        "payload": "",
        "name": "",
        "x": 1870,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "87b5527e.7b848",
        "type": "tjbot-speak",
        "z": "4ad4f9c4.495288",
        "botId": "374da715.aec408",
        "mode": "speak",
        "payload": "",
        "name": "",
        "x": 990,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "6237a56e.1e47cc",
        "type": "change",
        "z": "4ad4f9c4.495288",
        "name": "Respuesta",
        "rules": [
            {
                "t": "move",
                "p": "response.description",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 400,
        "wires": [
            [
                "87b5527e.7b848"
            ]
        ]
    },
    {
        "id": "bfc13ca8.82a48",
        "type": "switch",
        "z": "4ad4f9c4.495288",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 670,
        "y": 400,
        "wires": [
            [
                "6237a56e.1e47cc"
            ]
        ]
    },
    {
        "id": "8f1536a0.efb248",
        "type": "switch",
        "z": "4ad4f9c4.495288",
        "name": "",
        "property": "response.object.entities[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "istype",
                "v": "undefined",
                "vt": "undefined"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 730,
        "y": 760,
        "wires": [
            [
                "b918f00d.9c4fe"
            ],
            [
                "393dee9a.bcc932"
            ]
        ]
    },
    {
        "id": "af5a7a46.ec2de8",
        "type": "switch",
        "z": "4ad4f9c4.495288",
        "name": "",
        "property": "response.object.intents[0]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "istype",
                "v": "undefined",
                "vt": "undefined"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1170,
        "y": 380,
        "wires": [
            [],
            [
                "863ac52a.27e258"
            ]
        ]
    },
    {
        "id": "d0cc6968.be0f38",
        "type": "change",
        "z": "4ad4f9c4.495288",
        "name": "Reiniciando",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Reiniciando valores",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1650,
        "y": 480,
        "wires": [
            [
                "8c64a3c.533656"
            ]
        ]
    },
    {
        "id": "8c64a3c.533656",
        "type": "tjbot-speak",
        "z": "4ad4f9c4.495288",
        "botId": "374da715.aec408",
        "mode": "speak",
        "payload": "",
        "name": "",
        "x": 1870,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "e6b770a2.02207",
        "type": "comment",
        "z": "4ad4f9c4.495288",
        "name": "Escuchar",
        "info": "Flujo que permite iniciar y detener el escucha de TJBot",
        "x": 100,
        "y": 40,
        "wires": []
    },
    {
        "id": "4dd2df9d.27255",
        "type": "comment",
        "z": "4ad4f9c4.495288",
        "name": "Enviar mensajes a la conversación",
        "info": "Aquí puedes escribir tus mensajes a la conversación.\nEstos son algunos de los sugeridos.",
        "x": 180,
        "y": 200,
        "wires": []
    },
    {
        "id": "ccf69d2a.2fc52",
        "type": "comment",
        "z": "4ad4f9c4.495288",
        "name": "Cambiar el color del led",
        "info": "Flujo que cambia el color del led",
        "x": 140,
        "y": 640,
        "wires": []
    },
    {
        "id": "9a5fcabd.72da58",
        "type": "comment",
        "z": "4ad4f9c4.495288",
        "name": "Mover el brazo",
        "info": "Flujo que mueve el brazo",
        "x": 680,
        "y": 660,
        "wires": []
    },
    {
        "id": "8905b981.370d38",
        "type": "comment",
        "z": "4ad4f9c4.495288",
        "name": "Observar objetos",
        "info": "Flujo que describe lo que se ve por la cámara",
        "x": 140,
        "y": 940,
        "wires": []
    },
    {
        "id": "4b2de8bb.c0ff88",
        "type": "comment",
        "z": "4ad4f9c4.495288",
        "name": "Tomar una foto",
        "info": "Flujo que twittea una fotografía",
        "x": 140,
        "y": 1100,
        "wires": []
    },
    {
        "id": "4755a830.8b1a48",
        "type": "exec",
        "z": "4ad4f9c4.495288",
        "command": " amixer set 'PCM'",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Volumen",
        "x": 320,
        "y": 1300,
        "wires": [
            [
                "a68a146d.3227e8"
            ],
            [],
            []
        ]
    },
    {
        "id": "b97d267f.302518",
        "type": "inject",
        "z": "4ad4f9c4.495288",
        "name": "",
        "topic": "",
        "payload": "75%",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 150,
        "y": 1300,
        "wires": [
            [
                "4755a830.8b1a48"
            ]
        ]
    },
    {
        "id": "a68a146d.3227e8",
        "type": "debug",
        "z": "4ad4f9c4.495288",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 510,
        "y": 1300,
        "wires": []
    },
    {
        "id": "c53871a9.c5b66",
        "type": "comment",
        "z": "4ad4f9c4.495288",
        "name": "Ajustar volumen",
        "info": "",
        "x": 140,
        "y": 1260,
        "wires": []
    },
    {
        "id": "2c6ed967.d4fb66",
        "type": "tjbot-translate",
        "z": "4ad4f9c4.495288",
        "botId": "374da715.aec408",
        "srcLang": "en",
        "targetLang": "es",
        "mode": "translate",
        "name": "",
        "x": 520,
        "y": 1020,
        "wires": [
            [
                "dae59c18.7701a"
            ]
        ]
    },
    {
        "id": "dae59c18.7701a",
        "type": "change",
        "z": "4ad4f9c4.495288",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "response.translations[0].translation",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 1020,
        "wires": [
            [
                "6de5b828.cdac08"
            ]
        ]
    },
    {
        "id": "2b43d81a.3cf098",
        "type": "tjbot-translate",
        "z": "4ad4f9c4.495288",
        "botId": "374da715.aec408",
        "srcLang": "en",
        "targetLang": "es",
        "mode": "translate",
        "name": "",
        "x": 1140,
        "y": 280,
        "wires": [
            [
                "82813dc2.a8cb4"
            ]
        ]
    },
    {
        "id": "82813dc2.a8cb4",
        "type": "change",
        "z": "4ad4f9c4.495288",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "response.translations[0].translation",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1320,
        "y": 280,
        "wires": [
            [
                "84110f5f.76746"
            ]
        ]
    },
    {
        "id": "374da715.aec408",
        "type": "tjbot-config",
        "z": "",
        "botGender": "female",
        "name": "Prueba",
        "listen": "es-ES",
        "speak": "es-ES",
        "hasServo": true,
        "hasLED": true,
        "hasSpeaker": true,
        "hasMicrophone": true,
        "hasCamera": true,
        "speakerDeviceId": "plughw:0,0"
    }
]