Flujos Node-RED/Flujos - Guía avanzada.json
[{"id":"e97eab1a.e45178","type":"tab","label":"Guía avanzada","disabled":false,"info":""},{"id":"63c505f8.7b113c","type":"inject","z":"e97eab1a.e45178","name":"Iniciar escucha","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":240,"wires":[["71d6394e.5fe768"]]},{"id":"272af31b.84ffcc","type":"inject","z":"e97eab1a.e45178","name":"Detener escucha","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":360,"wires":[["71d6394e.5fe768"]]},{"id":"71d6394e.5fe768","type":"change","z":"e97eab1a.e45178","name":"","rules":[{"t":"set","p":"mode","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":300,"wires":[["96b572ac.f284c"]]},{"id":"96b572ac.f284c","type":"tjbot-listen","z":"e97eab1a.e45178","botId":"b4dc7b45.7ef148","name":"","x":640,"y":300,"wires":[["26be4ed0.0d5932","26c0de6e.498042"]],"icon":"node-red-node-watson/LanguageTranslator25x25.png"},{"id":"25d655ff.27dbfa","type":"tjbot-speak","z":"e97eab1a.e45178","botId":"523f4422.98e68c","mode":"speak","payload":"","name":"William habla","x":1030,"y":300,"wires":[[]]},{"id":"26be4ed0.0d5932","type":"watson-translator","z":"e97eab1a.e45178","name":"Español a inglés","action":"translate","basemodel":"en-nl","domain":"general","srclang":"es","destlang":"en","password":"","apikey":"igF8-eV_U1fDrvyV0IP-uiKVh18GzAZDh1pgS4mZpQjy","custom":"","domainhidden":"general","srclanghidden":"es","destlanghidden":"en","basemodelhidden":"en-nl","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":810,"y":300,"wires":[["25d655ff.27dbfa"]]},{"id":"7fb5d20d.aac5dc","type":"inject","z":"e97eab1a.e45178","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":560,"wires":[["d23d62f4.dc43c"]]},{"id":"d23d62f4.dc43c","type":"tjbot-see","z":"e97eab1a.e45178","botId":"b4dc7b45.7ef148","mode":"see","verticalFlip":false,"horizontalFlip":false,"width":960,"height":720,"name":"","x":390,"y":560,"wires":[["e00e6297.23681"]]},{"id":"e00e6297.23681","type":"function","z":"e97eab1a.e45178","name":"Filtro","func":"var elementos = \"En este momento estoy viendo...\";\n\nfor(var elemento in msg.payload){\n    elementos += msg.payload[elemento].class + \", \";\n}\nmsg.payload = elementos;\nreturn msg;\n","outputs":1,"noerr":0,"x":540,"y":560,"wires":[["2ee14c28.6c56e4"]]},{"id":"e0ddfb57.c65618","type":"tjbot-speak","z":"e97eab1a.e45178","botId":"b4dc7b45.7ef148","mode":"speak","payload":"","name":"","x":930,"y":560,"wires":[[]]},{"id":"2ee14c28.6c56e4","type":"watson-translator","z":"e97eab1a.e45178","name":"","action":"translate","basemodel":"en-tr","domain":"general","srclang":"en","destlang":"es","password":"","apikey":"igF8-eV_U1fDrvyV0IP-uiKVh18GzAZDh1pgS4mZpQjy","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"en-tr","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":730,"y":560,"wires":[["e0ddfb57.c65618"]]},{"id":"2ca58aeb.78beb6","type":"inject","z":"e97eab1a.e45178","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":1060,"wires":[["2bb6c35a.5e62bc"]]},{"id":"2bb6c35a.5e62bc","type":"openweathermap","z":"e97eab1a.e45178","name":"El clima","wtype":"current","lon":"","lat":"","city":"Santa fe","country":"México","language":"es","x":400,"y":1060,"wires":[["9b0142e3.f57c6"]]},{"id":"9b0142e3.f57c6","type":"function","z":"e97eab1a.e45178","name":"Reportando el clima","func":"msg.payload = \"El reporte del clima es, \" + msg.payload.detail\n    + \", tenemos una temperatura de \" + msg.payload.tempc\n    + \"grados, y humedad máxima del \" + msg.payload.humidity\n    + \" porciento.\";\nreturn msg;\n","outputs":1,"noerr":0,"x":600,"y":1060,"wires":[["6d8f6bff.d93994"]]},{"id":"6d8f6bff.d93994","type":"tjbot-speak","z":"e97eab1a.e45178","botId":"b4dc7b45.7ef148","mode":"speak","payload":"","name":"","x":810,"y":1060,"wires":[["3ea41827.21cb88"]]},{"id":"2d48dc94.74e154","type":"inject","z":"e97eab1a.e45178","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1220,"wires":[["9b737289.c6099"]]},{"id":"9b737289.c6099","type":"tjbot-see","z":"e97eab1a.e45178","botId":"b4dc7b45.7ef148","mode":"takephoto","verticalFlip":false,"horizontalFlip":true,"width":960,"height":720,"name":"Selfie","x":390,"y":1220,"wires":[["46c62036.14588"]]},{"id":"46c62036.14588","type":"file in","z":"e97eab1a.e45178","name":"","filename":"","format":"","chunk":false,"sendError":false,"x":580,"y":1220,"wires":[["60d1dcb2.52c214"]]},{"id":"60d1dcb2.52c214","type":"change","z":"e97eab1a.e45178","name":"","rules":[{"t":"set","p":"media","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"Hola desde #TJBot","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1220,"wires":[["5c26ac82.fbe684"]]},{"id":"5c26ac82.fbe684","type":"twitter out","z":"e97eab1a.e45178","twitter":"","name":"Tweet","x":1010,"y":1220,"wires":[]},{"id":"fd09d9ed.a05ff8","type":"comment","z":"e97eab1a.e45178","name":"Tomar una selfie","info":"","x":220,"y":1160,"wires":[]},{"id":"83676034.561fd","type":"comment","z":"e97eab1a.e45178","name":"Reportar el clima","info":"","x":220,"y":980,"wires":[]},{"id":"fce2baee.9e75c8","type":"comment","z":"e97eab1a.e45178","name":"Describir lo que se ve","info":"","x":240,"y":480,"wires":[]},{"id":"d931462d.a3fe98","type":"comment","z":"e97eab1a.e45178","name":"Traducir un idioma","info":"","x":230,"y":180,"wires":[]},{"id":"3ea41827.21cb88","type":"twitter out","z":"e97eab1a.e45178","twitter":"","name":"Tweet","x":1010,"y":1060,"wires":[]},{"id":"26c0de6e.498042","type":"debug","z":"e97eab1a.e45178","name":"Lo que escuché","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":820,"y":220,"wires":[]},{"id":"72b5404c.d26a2","type":"tjbot-analyze-tone","z":"e97eab1a.e45178","botId":"b4dc7b45.7ef148","tones":"emotion","name":"Analizar emociones","x":390,"y":840,"wires":[["78f6f44a.fae9dc"]]},{"id":"78f6f44a.fae9dc","type":"function","z":"e97eab1a.e45178","name":"La emoción más importante","func":"msg.payload = msg.response.tones.reduce( function(a, b) {return (a.score > b.score) ? a : b; }).tone_name;\nreturn msg;\n","outputs":1,"noerr":0,"x":660,"y":840,"wires":[["6e1b9d13.611354","dc754476.eaa0c8"]]},{"id":"6e1b9d13.611354","type":"switch","z":"e97eab1a.e45178","name":"Decidiendo como te sientes","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Anger","vt":"str"},{"t":"eq","v":"Disgust","vt":"str"},{"t":"eq","v":"Fear","vt":"str"},{"t":"eq","v":"Joy","vt":"str"},{"t":"eq","v":"Sadness","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":980,"y":840,"wires":[["e2ef0e63.45e86"],["4963e1de.8f02b"],["a2218079.f4323"],["4e7961a0.39d76"],["d9de2660.cf5788"]]},{"id":"e2ef0e63.45e86","type":"tjbot-shine","z":"e97eab1a.e45178","botId":"b4dc7b45.7ef148","mode":"pulse","color":"red","duration":"2","name":"Enojado","x":1240,"y":740,"wires":[]},{"id":"4963e1de.8f02b","type":"tjbot-shine","z":"e97eab1a.e45178","botId":"b4dc7b45.7ef148","mode":"pulse","color":"green","duration":"2","name":"Disgustado","x":1250,"y":780,"wires":[]},{"id":"a2218079.f4323","type":"tjbot-shine","z":"e97eab1a.e45178","botId":"b4dc7b45.7ef148","mode":"pulse","color":"magenta","duration":"2","name":"Miedo","x":1230,"y":820,"wires":[]},{"id":"4e7961a0.39d76","type":"tjbot-shine","z":"e97eab1a.e45178","botId":"b4dc7b45.7ef148","mode":"pulse","color":"yellow","duration":"2","name":"Alegría","x":1240,"y":860,"wires":[]},{"id":"d9de2660.cf5788","type":"tjbot-shine","z":"e97eab1a.e45178","botId":"b4dc7b45.7ef148","mode":"pulse","color":"blue","duration":"2","name":"Triste","x":1230,"y":900,"wires":[]},{"id":"a341e44e.aaa3c8","type":"comment","z":"e97eab1a.e45178","name":"Analizar emociones","info":"","x":230,"y":700,"wires":[]},{"id":"dc754476.eaa0c8","type":"debug","z":"e97eab1a.e45178","name":"Sentimiento","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":930,"y":740,"wires":[]},{"id":"6f6141da.bc4b3","type":"debug","z":"e97eab1a.e45178","name":"Tweet","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":360,"y":780,"wires":[]},{"id":"6a5eb592.07529c","type":"exec","z":"e97eab1a.e45178","command":" amixer set 'PCM'","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Volumen","x":340,"y":80,"wires":[["87800500.c0e428"],[],[]]},{"id":"6e1455d8.c9609c","type":"inject","z":"e97eab1a.e45178","name":"","topic":"","payload":"10%","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":80,"wires":[["6a5eb592.07529c"]]},{"id":"87800500.c0e428","type":"debug","z":"e97eab1a.e45178","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":80,"wires":[]},{"id":"1e817c32.7163e4","type":"comment","z":"e97eab1a.e45178","name":"Ajustar volumen","info":"","x":140,"y":40,"wires":[]},{"id":"b4dc7b45.7ef148","type":"tjbot-config","z":"","botGender":"female","name":"María","listen":"es-ES","speak":"es-ES","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"speakerDeviceId":"plughw:0,0"},{"id":"523f4422.98e68c","type":"tjbot-config","z":"","botGender":"male","name":"William","listen":"en-US","speak":"en-GB","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"speakerDeviceId":"plughw:0,0"}]