Flujos Node-RED/Flujos - Configuracion inicial.json
[
    {
        "id": "1729fab4.c7ab85",
        "type": "tab",
        "label": "Configuración inicial",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5582f2e7.3e2bec",
        "type": "tjbot-speak",
        "z": "1729fab4.c7ab85",
        "botId": "374da715.aec408",
        "mode": "speak",
        "payload": "",
        "name": "Hablar",
        "x": 270,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "1361e015.e2cf5",
        "type": "exec",
        "z": "1729fab4.c7ab85",
        "command": " amixer set 'PCM'",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Volumen",
        "x": 280,
        "y": 180,
        "wires": [
            [
                "46df8cd5.817054"
            ],
            [],
            []
        ]
    },
    {
        "id": "40c32eb8.ec61c",
        "type": "inject",
        "z": "1729fab4.c7ab85",
        "name": "",
        "topic": "",
        "payload": "75%",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "1361e015.e2cf5"
            ]
        ]
    },
    {
        "id": "46df8cd5.817054",
        "type": "debug",
        "z": "1729fab4.c7ab85",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 470,
        "y": 180,
        "wires": []
    },
    {
        "id": "65b9fad9.8235c4",
        "type": "openweathermap",
        "z": "1729fab4.c7ab85",
        "name": "El clima",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Santa fe",
        "country": "México",
        "language": "es",
        "x": 460,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "7e37b921.ef8be8",
        "type": "twitter out",
        "z": "1729fab4.c7ab85",
        "twitter": "",
        "name": "Tweet",
        "x": 90,
        "y": 120,
        "wires": []
    },
    {
        "id": "7c1b0b47.b74bd4",
        "type": "inject",
        "z": "1729fab4.c7ab85",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 240,
        "wires": [
            [
                "e281883b.d64068"
            ]
        ]
    },
    {
        "id": "e281883b.d64068",
        "type": "exec",
        "z": "1729fab4.c7ab85",
        "command": "shutdown now",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Apagar",
        "x": 280,
        "y": 240,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "374da715.aec408",
        "type": "tjbot-config",
        "z": "",
        "botGender": "female",
        "name": "Prueba",
        "listen": "es-ES",
        "speak": "es-ES",
        "hasServo": true,
        "hasLED": true,
        "hasSpeaker": true,
        "hasMicrophone": true,
        "hasCamera": true,
        "speakerDeviceId": "plughw:0,0"
    }
]