Flujos Node-RED/Flujos - Direccion IP.json
[{"id":"478261dd.55e3b","type":"hostip","z":"ad15f246.7df67","name":"Host IP","x":680,"y":340,"wires":[["29392e19.4fa472"]]},{"id":"aa1d5ea5.63478","type":"inject","z":"ad15f246.7df67","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"1","x":130,"y":340,"wires":[["a13e3c21.7fc2b"]]},{"id":"b5b31b86.4fd908","type":"tjbot-speak","z":"ad15f246.7df67","botId":"4b414f31.fbb6c","mode":"speak","payload":"","name":"Jarvis","x":570,"y":420,"wires":[["26ca438d.12996c"]]},{"id":"29392e19.4fa472","type":"change","z":"ad15f246.7df67","name":"Obteniendo IP","rules":[{"t":"move","p":"payload[0].address","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":420,"wires":[["e694f83a.e27a78"]]},{"id":"e694f83a.e27a78","type":"function","z":"ad15f246.7df67","name":"Formando palabras","func":"var ip = msg.payload;\nvar str = \"\";\ncleanip = ip.replace(/\\./g, \" punto \");\nstr += \"Conectado a la red... \" + msg.wifi + \" ... Tu direccion I PE es... \" + cleanip;\nmsg.payload = str;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":420,"wires":[["b5b31b86.4fd908"]]},{"id":"a13e3c21.7fc2b","type":"exec","z":"ad15f246.7df67","command":"iwgetid","addpay":false,"append":"-r","useSpawn":"false","timer":"","oldrc":false,"name":"","x":300,"y":340,"wires":[["d196f41c.05bc48"],[],[]]},{"id":"d196f41c.05bc48","type":"change","z":"ad15f246.7df67","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"wifi","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":340,"wires":[["478261dd.55e3b"]]},{"id":"26ca438d.12996c","type":"tjbot-speak","z":"ad15f246.7df67","botId":"4b414f31.fbb6c","mode":"speak","payload":"","name":"","x":720,"y":420,"wires":[[]]},{"id":"4b414f31.fbb6c","type":"tjbot-config","z":"","botGender":"female","name":"Jarvis","listen":"es-ES","speak":"es-ES","hasServo":true,"hasLED":true,"hasSpeaker":true,"hasMicrophone":true,"hasCamera":true,"speakerDeviceId":"plughw:0,0"}]


Needs: Host IP