Flujos Node-RED/Flujos - Guía básica.json
[
    {
        "id": "48a29749.2f6b38",
        "type": "tab",
        "label": "Guía básica",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c1740678.f5fa18",
        "type": "inject",
        "z": "48a29749.2f6b38",
        "name": "Saludar",
        "topic": "",
        "payload": "Hola a todos",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "4b38dd72.15c104"
            ]
        ]
    },
    {
        "id": "e12a4659.ee8178",
        "type": "tjbot-wave",
        "z": "48a29749.2f6b38",
        "botId": "374da715.aec408",
        "motion": "wave",
        "name": "Mover brazo",
        "x": 600,
        "y": 218,
        "wires": []
    },
    {
        "id": "321ec4.97e1613c",
        "type": "tjbot-listen",
        "z": "48a29749.2f6b38",
        "botId": "374da715.aec408",
        "name": "Escuchar",
        "x": 660,
        "y": 680,
        "wires": [
            [
                "6fc2d85b.f18d58"
            ]
        ]
    },
    {
        "id": "7b8bc354.89ebac",
        "type": "tjbot-see",
        "z": "48a29749.2f6b38",
        "botId": "374da715.aec408",
        "mode": "see",
        "verticalFlip": false,
        "horizontalFlip": false,
        "width": 960,
        "height": 720,
        "name": "Ver",
        "x": 370,
        "y": 940,
        "wires": [
            [
                "92662e2a.c5562",
                "55283c65.8350c4",
                "867614db.ded338"
            ]
        ]
    },
    {
        "id": "7eb16409.dad64c",
        "type": "debug",
        "z": "48a29749.2f6b38",
        "name": "Traducción",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "response.translations[0].translation",
        "x": 550,
        "y": 1100,
        "wires": []
    },
    {
        "id": "e9eb7632.833b58",
        "type": "inject",
        "z": "48a29749.2f6b38",
        "name": "",
        "topic": "",
        "payload": "pais",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 184,
        "y": 1140,
        "wires": [
            [
                "ccfac434.a19ab8"
            ]
        ]
    },
    {
        "id": "2e5c968d.786c7a",
        "type": "inject",
        "z": "48a29749.2f6b38",
        "name": "",
        "topic": "",
        "payload": "Encender foco",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 190,
        "y": 400,
        "wires": [
            [
                "721e6e6c.84153",
                "8bce3808.3b6f68"
            ]
        ]
    },
    {
        "id": "721e6e6c.84153",
        "type": "tjbot-shine",
        "z": "48a29749.2f6b38",
        "botId": "374da715.aec408",
        "mode": "shine",
        "color": "random",
        "duration": "",
        "name": "Color",
        "x": 490,
        "y": 380,
        "wires": []
    },
    {
        "id": "15316c54.260384",
        "type": "inject",
        "z": "48a29749.2f6b38",
        "name": "Comenzar a escuchar",
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 220,
        "y": 640,
        "wires": [
            [
                "81107281.5b76d",
                "6e117a65.4b2e04",
                "7d102a0a.9e87e4"
            ]
        ]
    },
    {
        "id": "d92f34aa.9e0d28",
        "type": "inject",
        "z": "48a29749.2f6b38",
        "name": "Parar de escuchar",
        "topic": "",
        "payload": "stop",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 210,
        "y": 720,
        "wires": [
            [
                "81107281.5b76d",
                "b2476910.6fce38",
                "96a6b22b.8c3e9"
            ]
        ]
    },
    {
        "id": "81107281.5b76d",
        "type": "change",
        "z": "48a29749.2f6b38",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "mode",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 463,
        "y": 680,
        "wires": [
            [
                "321ec4.97e1613c"
            ]
        ]
    },
    {
        "id": "6fc2d85b.f18d58",
        "type": "debug",
        "z": "48a29749.2f6b38",
        "name": "Escribir",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 854,
        "y": 679,
        "wires": []
    },
    {
        "id": "f28647fb.0a4e68",
        "type": "inject",
        "z": "48a29749.2f6b38",
        "name": "Ver objeto",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 185,
        "y": 940,
        "wires": [
            [
                "7b8bc354.89ebac"
            ]
        ]
    },
    {
        "id": "92662e2a.c5562",
        "type": "debug",
        "z": "48a29749.2f6b38",
        "name": "Escribir",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 565,
        "y": 940,
        "wires": []
    },
    {
        "id": "2ee72536.9d6b4a",
        "type": "tjbot-speak",
        "z": "48a29749.2f6b38",
        "botId": "374da715.aec408",
        "mode": "speak",
        "payload": "",
        "name": "",
        "x": 650,
        "y": 1340,
        "wires": [
            [
                "d44ea5da.7ee728",
                "3eaee7e8.380b58"
            ]
        ]
    },
    {
        "id": "6258eb8e.3f8224",
        "type": "template",
        "z": "48a29749.2f6b38",
        "name": "Deletrear",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}\nse deletrea\n<speak>\n    <say-as interpret-as=\"letters\">{{payload}}</say-as>\n</speak>",
        "output": "str",
        "x": 413,
        "y": 1340,
        "wires": [
            [
                "2ee72536.9d6b4a"
            ]
        ]
    },
    {
        "id": "20fb21af.294a3e",
        "type": "inject",
        "z": "48a29749.2f6b38",
        "name": "",
        "topic": "",
        "payload": "estudiar",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 190,
        "y": 1340,
        "wires": [
            [
                "6258eb8e.3f8224"
            ]
        ]
    },
    {
        "id": "d44ea5da.7ee728",
        "type": "tjbot-wave",
        "z": "48a29749.2f6b38",
        "botId": "374da715.aec408",
        "motion": "wave",
        "name": "Mover brazo",
        "x": 881,
        "y": 1370,
        "wires": []
    },
    {
        "id": "8bce3808.3b6f68",
        "type": "tjbot-wave",
        "z": "48a29749.2f6b38",
        "botId": "374da715.aec408",
        "motion": "wave",
        "name": "Mover brazo",
        "x": 510,
        "y": 420,
        "wires": []
    },
    {
        "id": "6e117a65.4b2e04",
        "type": "tjbot-wave",
        "z": "48a29749.2f6b38",
        "botId": "374da715.aec408",
        "motion": "raisearm",
        "name": "Arriba brazo",
        "x": 470,
        "y": 620,
        "wires": []
    },
    {
        "id": "b2476910.6fce38",
        "type": "tjbot-wave",
        "z": "48a29749.2f6b38",
        "botId": "374da715.aec408",
        "motion": "lowerarm",
        "name": "Abajo brazo",
        "x": 470,
        "y": 744,
        "wires": []
    },
    {
        "id": "55283c65.8350c4",
        "type": "tjbot-wave",
        "z": "48a29749.2f6b38",
        "botId": "374da715.aec408",
        "motion": "wave",
        "name": "Mover brazo",
        "x": 575,
        "y": 990,
        "wires": []
    },
    {
        "id": "d1957861.39e808",
        "type": "tjbot-wave",
        "z": "48a29749.2f6b38",
        "botId": "374da715.aec408",
        "motion": "wave",
        "name": "Mover brazo",
        "x": 550,
        "y": 1140,
        "wires": []
    },
    {
        "id": "7d102a0a.9e87e4",
        "type": "tjbot-shine",
        "z": "48a29749.2f6b38",
        "botId": "374da715.aec408",
        "mode": "shine",
        "color": "green",
        "duration": "",
        "name": "Verde",
        "x": 450,
        "y": 540,
        "wires": []
    },
    {
        "id": "96a6b22b.8c3e9",
        "type": "tjbot-shine",
        "z": "48a29749.2f6b38",
        "botId": "374da715.aec408",
        "mode": "shine",
        "color": "red",
        "duration": "",
        "name": "Rojo",
        "x": 450,
        "y": 804,
        "wires": []
    },
    {
        "id": "867614db.ded338",
        "type": "tjbot-shine",
        "z": "48a29749.2f6b38",
        "botId": "374da715.aec408",
        "mode": "shine",
        "color": "random",
        "duration": "",
        "name": "Color",
        "x": 555,
        "y": 890,
        "wires": []
    },
    {
        "id": "bc8df25e.ff412",
        "type": "tjbot-shine",
        "z": "48a29749.2f6b38",
        "botId": "374da715.aec408",
        "mode": "shine",
        "color": "random",
        "duration": "",
        "name": "Color",
        "x": 530,
        "y": 1187,
        "wires": []
    },
    {
        "id": "3eaee7e8.380b58",
        "type": "tjbot-shine",
        "z": "48a29749.2f6b38",
        "botId": "374da715.aec408",
        "mode": "shine",
        "color": "random",
        "duration": "",
        "name": "Color",
        "x": 861,
        "y": 1322,
        "wires": []
    },
    {
        "id": "d27be95a.6042e8",
        "type": "tjbot-shine",
        "z": "48a29749.2f6b38",
        "botId": "374da715.aec408",
        "mode": "shine",
        "color": "violetred",
        "duration": "",
        "name": "Color",
        "x": 580,
        "y": 258,
        "wires": []
    },
    {
        "id": "53198ea2.eb032",
        "type": "comment",
        "z": "48a29749.2f6b38",
        "name": "Hablar",
        "info": "",
        "x": 150,
        "y": 180,
        "wires": []
    },
    {
        "id": "d1574216.071e4",
        "type": "comment",
        "z": "48a29749.2f6b38",
        "name": "Encender LED",
        "info": "",
        "x": 180,
        "y": 347,
        "wires": []
    },
    {
        "id": "e833eed3.df5b2",
        "type": "comment",
        "z": "48a29749.2f6b38",
        "name": "Escuchar",
        "info": "",
        "x": 160,
        "y": 540,
        "wires": []
    },
    {
        "id": "b4b60734.474ef8",
        "type": "comment",
        "z": "48a29749.2f6b38",
        "name": "Reconocimiento visual",
        "info": "",
        "x": 200,
        "y": 880,
        "wires": []
    },
    {
        "id": "377d67c9.c79f58",
        "type": "comment",
        "z": "48a29749.2f6b38",
        "name": "Traducción",
        "info": "",
        "x": 160,
        "y": 1080,
        "wires": []
    },
    {
        "id": "29a2b155.b04e0e",
        "type": "comment",
        "z": "48a29749.2f6b38",
        "name": "Deletrear",
        "info": "",
        "x": 180,
        "y": 1280,
        "wires": []
    },
    {
        "id": "4b38dd72.15c104",
        "type": "tjbot-speak",
        "z": "48a29749.2f6b38",
        "botId": "374da715.aec408",
        "mode": "speak",
        "payload": "",
        "name": "Hablar",
        "x": 374.00000762939453,
        "y": 239.00000190734863,
        "wires": [
            [
                "e12a4659.ee8178",
                "d27be95a.6042e8"
            ]
        ]
    },
    {
        "id": "e7da9583.a47688",
        "type": "exec",
        "z": "48a29749.2f6b38",
        "command": " amixer set 'PCM'",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Volumen",
        "x": 340,
        "y": 80,
        "wires": [
            [
                "27fdc027.6112a"
            ],
            [],
            []
        ]
    },
    {
        "id": "5f68ba7f.7e1a14",
        "type": "inject",
        "z": "48a29749.2f6b38",
        "name": "",
        "topic": "",
        "payload": "10%",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 170,
        "y": 80,
        "wires": [
            [
                "e7da9583.a47688"
            ]
        ]
    },
    {
        "id": "27fdc027.6112a",
        "type": "debug",
        "z": "48a29749.2f6b38",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 530,
        "y": 80,
        "wires": []
    },
    {
        "id": "a2e575c9.5b4488",
        "type": "comment",
        "z": "48a29749.2f6b38",
        "name": "Ajustar volumen",
        "info": "",
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "ccfac434.a19ab8",
        "type": "tjbot-translate",
        "z": "48a29749.2f6b38",
        "botId": "374da715.aec408",
        "srcLang": "es",
        "targetLang": "en",
        "mode": "translate",
        "name": "",
        "x": 360,
        "y": 1140,
        "wires": [
            [
                "7eb16409.dad64c",
                "d1957861.39e808",
                "bc8df25e.ff412"
            ]
        ]
    },
    {
        "id": "374da715.aec408",
        "type": "tjbot-config",
        "z": "",
        "botGender": "female",
        "name": "Prueba",
        "listen": "es-ES",
        "speak": "es-ES",
        "hasServo": true,
        "hasLED": true,
        "hasSpeaker": true,
        "hasMicrophone": true,
        "hasCamera": true,
        "speakerDeviceId": "plughw:0,0"
    }
]